/* Custom CSS */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Headings */
h2 {
    border-bottom: 2px solid #1DB954;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    display: inline-block;
}

/* Cards */
.card {
    background-color: #333;
    transition: transform 0.3s, box-shadow 0.3s;
    color: #ffffff;
    border: none;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.card .card-title {
    color: #1DB954;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link:hover .card {
    transform: translateY(-5px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

/* Navbar */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #1DB954;
}

/* Footer */
footer {
    background: #1DB954;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

/* Modal */
.modal-content {
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 10px;
}

.modal-header {
    border-bottom: 1px solid #1DB954;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-brand, .nav-link {
        font-size: 1.2rem;
    }

    .card {
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .navbar-brand, .nav-link {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .dark-overlay {
        padding: 10px;
    }

    .card {
        margin-bottom: 1rem;
        font-size: 0.9rem;
    }

    .card .card-title {
        font-size: 1.1rem;
    }
}
